* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Barra de navegacion*/

nav{
    display: flex;
    margin-left: .5rem;
} 

nav img{
    width: 6rem;
}

.barra_navegacion{
    display: none;
    color: #EADBC8;
}

/*Header*/

header{
    height: 40vh;
    background-color: #102C57;
    background-image: url(../images/FondoHeader.png);
    background-position:110px;
    background-size: 90%;
    background-repeat: no-repeat;
    border-radius: 5%;
    padding: 2.5rem;
    display: flex;
    margin: 0 .5rem;
    color: #EADBC8;
}

.header_caja1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_caja1 p{
    font-family: 'Montserrat Light';
    margin: 0;
}

.header_caja1 h2{
    font-family: 'Montserrat Black';
    font-size: 1.8rem;
    color: white;
}

.header_caja1 h1{
    font-family: 'Montserrat Black';
    font-size: 2.5rem;
}

.header_caja1 a{
    width: 60%;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: #102C57;
    padding: .3rem;
    border-radius: 1rem;;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    font-size: .8rem;
}

.header_caja2{
    display: none;
}

@media screen and (min-width: 768px) /*and (max-width: 1024px)*/{
/*Barra de navegacion*/
   nav{
    justify-content: space-between;
    align-items: center;
}

  .barra_navegacion{
    width: 50%;
    margin-right: 1rem;
    display: flex;
    justify-content: space-around;
}

 .barra_navegacion a{
    font-family: 'Montserrat Semibold';
    text-decoration: none;
    font-size: 1.4rem;
    color:#102C57;
    font-weight: 800;
}

 /*Header*/
 header{
    background-position: 100px;
    height: 45vh;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.header_caja1{
    margin-left: 5%;
}

.header_caja1 p{
    font-size: 1.5rem;
}

.header_caja1 h2{
    font-size: 2rem;
}

.header_caja1 h1{
    font-size: 4rem;
}

.header_caja1 a{
    width: 45%;
    border-radius: 2rem;
    font-size: 1.2rem;
}

.header_caja2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header_caja2 p{
    color: white;
    font-size: .8rem;
}

}

@media screen and (min-width: 1025px) {
    /*Barra de navegacion*/
    nav{
        margin: auto 5rem;
    }

    .barra_navegacion a{
        position: relative;
    }

    .barra_navegacion a::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #102C57;
        transition: width 0.3s ease;
    }

    .barra_navegacion a:hover::before{
        width: 100%;
        box-shadow: 4px 4px 8px black;
    }

    /*Header*/
    header{
        height: 70vh;
        margin: auto 5rem;
        background-position:180px;
        background-size: 80%;
        border-radius: 2rem;
    }

    .header_caja1 a{
        position: relative;
        z-index: 1;
        
    }

    .header_caja1 a::before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: black;
        transition: .3s;
        margin: auto;
        border-radius: 1rem;
        width: 0;
        height: 100%;
        z-index: -1;
    }

    .header_caja1 a:hover::before{
        width: 100%;
        transform: scale(1.1);
    }

    .header_caja1 a:hover{
        color: #EADBC8;
        transform: scale(1.1);
        box-shadow: 4px 4px 8px black;
    }
}